@media screen and (max-width: 1124px) {
    .phone{
        margin-left: -14%;
    }
}
@media screen and (max-width: 1024px) {
    .wrap {
        margin-left: -4%;
    }
    .h1 {
        padding: 2% 21% 1% 1%;
    }
    .wrapper {
        background-position: 475px -235px;
    }
    .phone {
        margin-left: -24%; 
    }
    .wrap3 {
        padding-bottom: 4%;
    }
}
@media screen and (max-width: 1009px) {
    .h1 {
        padding: 2% 36% 1% 1%;
    }
    .wrapper {
        background-position: 525px -235px;
    }
}
@media screen and (max-width: 945px) {
    .wrap3 {
        padding-bottom: 12%;
    }
}
@media screen and (max-width: 900px) {
    .wrap3 {
        grid-template-columns: auto auto;
    }
    .wrap2 {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 875px) {
    .phone {
        margin-top: -10%;
        /* margin-left: -14%; */
    }
    .head-wrap {
        display: none;
    }
    .bar {
        display: block;
    }
    .right{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .wrap {
        margin-top: -1%;
        margin-left: -4%;
    }
    .phone {
        margin-left: -41%;
    }
    .wrapper {
        background-position: 405px -235px;
    }
    .wrap3 {
        padding-bottom: 12%;
    }
    .choplife {
        padding: 1% 0% 1% 0%;
        height: 68%;
    }
}
@media screen and (max-width: 452px){
    .wrap {
        order: 2;
    }
    .phone {
        order: 1;
    }
    .wrap-box {
        flex-direction: column;
    }
}