*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.head-wrap {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 43%;
    margin-top: -2%;
}
.logo {
    margin-top: 2%;
    margin-left: 11%;
}
nav.head {
    border: 2px solid black;
    height: 10vh;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-intro-desktop.svg);
    background-size: 100% 150%;
    background-position: 571px -232px;
    background-repeat: no-repeat;
    position: relative;

}
.wrap-box{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.img-mockup{
    width: 500px;
    z-index: -2;
    top: -58px;
}
.mockups {
    width: 100%;
}